{:highlights [{:id #uuid "61372697-ad4c-4db0-ac15-f660d220c9ae",
               :page 70,
               :position {:bounding {:x1 93.875,
                                     :y1 138.046875,
                                     :x2 176.41323852539062,
                                     :y2 158.046875,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 93.875,
                                   :y1 138.046875,
                                   :x2 176.41323852539062,
                                   :y2 158.046875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 70},
               :content {:text "飞行瑜伽"},
               :properties {:color "red"}}
              {:id #uuid "613726da-41f1-4169-94c8-c221101495b7",
               :page 67,
               :position {:bounding {:x1 134.5625,
                                     :y1 330.515625,
                                     :x2 569.5507202148438,
                                     :y2 350.515625,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 134.5625,
                                   :y1 330.515625,
                                   :x2 569.5507202148438,
                                   :y2 350.515625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 67},
               :content {:text "双脚悬空装置（肩部倒立装置）或者其他替代品"},
               :properties {:color "red"}}
              {:id #uuid "61372721-96a7-48b4-94b1-ba491d081393",
               :page 66,
               :position {:bounding {:x1 93.875,
                                     :y1 397.796875,
                                     :x2 175.2397003173828,
                                     :y2 417.796875,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 93.875,
                                   :y1 397.796875,
                                   :x2 175.2397003173828,
                                   :y2 417.796875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 66},
               :content {:text "背景故事"},
               :properties {:color "red"}}
              {:id #uuid "6137276f-9305-42f3-a67b-783ad4cf6581",
               :page 78,
               :position {:bounding {:x1 93.875,
                                     :y1 708.390625,
                                     :x2 215.92205810546875,
                                     :y2 728.390625,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 93.875,
                                   :y1 708.390625,
                                   :x2 215.92205810546875,
                                   :y2 728.390625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 78},
               :content {:text "臀中肌训练法"},
               :properties {:color "red"}}
              {:id #uuid "613727bf-9f12-46c6-a97c-e5f9f217e132",
               :page 74,
               :position {:bounding {:x1 109.52205657958984,
                                     :y1 150.71875,
                                     :x2 156.46324157714844,
                                     :y2 165.71875,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 109.52205657958984,
                                   :y1 150.71875,
                                   :x2 156.46324157714844,
                                   :y2 165.71875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 74},
               :content {:text "内八字"},
               :properties {:color "red"}}
              {:id #uuid "613727f7-4de5-4b3c-b7c2-224a5c917277",
               :page 79,
               :position {:bounding {:x1 93.875,
                                     :y1 704.625,
                                     :x2 696.918212890625,
                                     :y2 742.3125,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 571.74169921875,
                                   :y1 704.625,
                                   :x2 696.918212890625,
                                   :y2 719.625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 93.875,
                                   :y1 727.3125,
                                   :x2 125.16912078857422,
                                   :y2 742.3125,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 79},
               :content {:text "大脚趾要低于后脚跟。"},
               :properties {:color "red"}}
              {:id #uuid "613728f3-7367-43a8-ab1f-720ca4635e6a",
               :page 31,
               :position {:bounding {:x1 93.875,
                                     :y1 138.53125,
                                     :x2 245.3860321044922,
                                     :y2 165.53125,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 197.53125,
                                   :y1 138.53125,
                                   :x2 202.4375,
                                   :y2 165.53125,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 93.875,
                                   :y1 141.1875,
                                   :x2 245.3860321044922,
                                   :y2 161.1875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 31},
               :content {:text "克里斯托弗·萨默"},
               :properties {:color "blue"}}
              {:id #uuid "61380dc2-2f11-431d-83c9-d623fd82e4c6",
               :page 106,
               :position {:bounding {:x1 93.875,
                                     :y1 690.09375,
                                     :x2 478.06011962890625,
                                     :y2 717.09375,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 134.5625,
                                   :y1 690.09375,
                                   :x2 154.90625,
                                   :y2 717.09375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 326.65625,
                                   :y1 690.09375,
                                   :x2 347,
                                   :y2 717.09375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 93.875,
                                   :y1 692.734375,
                                   :x2 478.06011962890625,
                                   :y2 712.734375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 106},
               :content {:text "采用“动作神经刻蚀训练法”提高耐力和力量"},
               :properties {:color "red"}}
              {:id #uuid "613f068a-4c9a-4309-a36f-424909f72a02",
               :page 31,
               :position {:bounding {:x1 547.6397094726562,
                                     :y1 309.546875,
                                     :x2 657.1691284179688,
                                     :y2 324.546875,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 547.6397094726562,
                                   :y1 309.546875,
                                   :x2 657.1691284179688,
                                   :y2 324.546875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 31},
               :content {:text "体操力量训练法"},
               :properties {:color "red"}}],
 :extra {:page 66}}
